#container{
    display: flex;
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    

}

.banner{
    background-image: url(./images/bkImage.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 30vw;
    height: 100vh;
    
}
.logo{
    display: flex;
    flex-flow: row wrap;
    font-family: 'Roboto', sans-serif;
}
.logo{
    position: relative;
    height: auto;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}
#form{
    margin-left: 5vw;
    margin-right: 15vw;
}
.formInput{
    display: inline-block;
    margin-right: 3vw;
    border-color: #E5E7EB;
}
.formInput:focus{
    border-color: blue;
    box-shadow:0lvw;
}
.formInput:invalid{
    border-color: pink;
}
label{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size:x-small;
    font-weight:bolder;
    margin-top: 3vh;
}
h3{
    font-family: 'Roboto', sans-serif;
}
.button{
    margin-top: 5vh;
}
button{
    background-color: #596D48;
    color: white;
    width: 30vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
#accountHolder{
 margin-top: 4vh;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.error{
border: 2px solid red;
}

.success{
    background-color:  lightgreen;
}

#message{
    display: none;
    width: fit-content;
    padding-right:1vw;
}